{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block content %}
<h1>About</h1>
<p>
    <b></b>
    <ul>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/historia">Historia del Centro</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/mision_vision">Misión y Visión</a></li>
        <li><a href="http://www.web.valles.udg.mx/directorio">Directorio</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/rectoria/mensaje_rector">Rectoría</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/organigrama">Organigrama</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/organizacion">Organización</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/normatividad-y-documentos-oficiales">Normatividad y documentos oficiales</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/infraestructura">Infraestructura</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/ubicacion">Ubicación</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/numeralia">Numeralia</a></li>
        <li><a href="http://www.web.valles.udg.mx/acerca_de/extensiones_telefonicas">Extensiones telefónicas</a></li>
    </ul>
</p>
{% endblock %}